@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;1,100;1,400&display=swap');

:root {
    --black: #121214;
    --dark-gray: #212025;
    --white: #FFFFFF;
    --text: #E1E1E6;
    --purple: #7159C1;
    --vue: #04D361;
    --red: #ec5453;
    --npurple: #373238;
    --yellow: #f9bf3f;
    --synth-purple: #F222FF;
    --synth-blue: #011EFE;
}

body {
    background: var(--purple) !important;
}

pre, code {
    color: #80BA3A;
    white-space: pre-wrap;
}

.card {
    background: var(--black);
    color: #80BA3A;
    border-radius: 0 !important;
    border: solid 1px #606060;
    border-top: none;
    height: 700px;;;
}

.card:first-child {
    border-left: none !important;
    border-right: none !important;
}

.card:last-child {
    border-left: none !important;
    border-right: none !important;
}

.badge {
    font-size: 14px;
}

.card-header {
    background-color: var(--dark-gray) !important;
    height: 60px;
    border-radius: 5px !important;
}

.card-body {
    background-color: var(--dark-gray) !important;
}

.nav-tabs {
    border-color: #7A7A7A;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background: var(--dark-gray);
    color: #7A7A7A;
    border-color: #7A7A7A;
    border-bottom-color: transparent;
}

.list-group,
.list-group-item {
    background: var(--dark-gray);
}

.list-group-item {
    cursor: pointer;
    border: solid 1px #7A7A7A;
    color: #fff;
}

.list-group-item.no-border {
    border: none;
}

.terminal {
    border-radius: 5px 5px 0 0;
    position: relative;
    width: 1366px;
    transition: 0.5s;
    margin: 0 auto;
    margin-top: 60px;
}

.terminal .body {
    background: var(--dark-gray) !important;
    height: 700px;;
}

.terminal .terminal-bar {
    background: var(--black);
    color: var(--text);
    padding: 5px;
    border-radius: 5px 5px 0 0;
}

.terminal .btns {
    position: absolute;
    top: 7px;
    right: 10px;
}

.terminal .circle {
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 7px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent !important;
}

.btn {
    background-color: var(--purple);
    color: var(--text);
}

.badge-purple {
    background-color: var(--purple);
    color: var(--text);
}

.list-group-item-action.active {
    background-color: var(--purple);
}

.string { 
    color: #DCCE4D; 
}

.number { 
    color: #A391F6; 
}

.boolean { 
    color: blue; 
}

.null { 
    color: magenta; 
}

.key { 
    color: #7EB739; 
}